In [1]:
import duckdb
import pandas as pd

In [6]:
sql_query = '''
SELECT * FROM silver_parking_violation_codes LIMIT 5
'''

# sql_query = '''
# show tables
# '''

with duckdb.connect('./data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

,violation_code,definition,is_manhattan_96th_st_below,fee_usd
0,1,FAILURE TO DISPLAY BUS PERMIT,True,515
1,1,FAILURE TO DISPLAY BUS PERMIT,False,515
2,2,NO OPERATOR NAM/ADD/PH DISPLAY,True,515
3,2,NO OPERATOR NAM/ADD/PH DISPLAY,False,515
4,3,UNAUTHORIZED PASSENGER PICK-UP,False,515

In [ ]:
# sql_query_import_1 = '''
# CREATE OR REPLACE TABLE parking_violation_codes AS
# SELECT *
# FROM read_csv_auto(
#   'data/dof_parking_violation_codes.csv',
#   normalize_names=True
#   )
# '''

# sql_query_import_2 = '''
# CREATE OR REPLACE TABLE parking_violations_2023 AS
# SELECT *
# FROM read_csv_auto(
#   'data/parking_violations_issued_fiscal_year_2023_sample.csv',
#   normalize_names=True
#   )
# '''

# with duckdb.connect('data/nyc_parking_violations.db') as con:
#   con.sql(sql_query_import_1)
#   con.sql(sql_query_import_2)