In [1]:
import duckdb
import pandas as pd

In [8]:
sql_query = '''
SELECT * FROM gold_vehicles_metrics LIMIT 5
'''

# sql_query = '''
# show tables
# '''

with duckdb.connect('./data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

  registration_state  ticket_count
0                 NJ          9258
1                 PA          3514
2                 FL          2414
3                 CT          1787
4                 GA           840

In [ ]:
# sql_query_import_1 = '''
# CREATE OR REPLACE TABLE parking_violation_codes AS
# SELECT *
# FROM read_csv_auto(
#   'data/dof_parking_violation_codes.csv',
#   normalize_names=True
#   )
# '''

# sql_query_import_2 = '''
# CREATE OR REPLACE TABLE parking_violations_2023 AS
# SELECT *
# FROM read_csv_auto(
#   'data/parking_violations_issued_fiscal_year_2023_sample.csv',
#   normalize_names=True
#   )
# '''

# with duckdb.connect('data/nyc_parking_violations.db') as con:
#   con.sql(sql_query_import_1)
#   con.sql(sql_query_import_2)